.openlab-tip {
	--teal: #63dfd2;

	border: 2px solid var(--teal);
	border-radius: 4px;
	margin-top: 16px;
	transition: opacity 0.5s ease-out, visibility 0.5s ease-out;

	&.hidden {
		display: none;
		visibility: hidden;
	}

	&.fade-out {
		opacity: 0;
		visibility: hidden;
	}

	.openlab-tip-header {
		background: var(--teal);
		font-size: 16px;
		font-weight: 700;
		padding: 8px;
		position: relative;

		.openlab-tip-close {
			background: transparent;
			border: none;
			cursor: pointer;
			font-size: 16px;
			position: absolute;
			right: 8px;
			top: 8px;
		}
	}

	.openlab-tip-content {
		padding: 16px;

		p:last-child {
			margin-bottom: 0;
		}
	}
}
